<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: lightblue;
            text-align: center;
        }
        header {
            background-color: white;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: inline-block;
        }
    </style>
</head>
<body>
    <header>
        <h1>Ministry of Health program is in the air</h1>
    </header>
</body>
</html>