<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="LAB_CODE" value="9"/>
		<add key="API_HM_INTERFACE_ADDRESS" value="https://fcslabstest.health.gov.il/FCS_Labs"/>
		<add key="PFX_DIRECTION_PATH" value="C:\Work\NesherProj\HealthMinistry\TestHealthMinistry(FCS only)\Test_Certificate_2023.pfx"/>
		<add key="LogDirectory" value="C:\TEMP\"/>
		<add key="SOAP_ACTION_SAMPLE" value="http://www.moh.gov.co.il/FoodApp/FCS_Labs/IFCS_Labs/Lab_Sample_Form"/>
		<add key="OpenFile" value="T"/>
		<add key="Barcode" value="404589"/>
		
	</appSettings>
</configuration>